include LICENSE
include MANIFEST.in
include requirements.txt
include requirements-dev.txt
include *.md
include .bumpversion.cfg
include tox.ini
include pyproject.toml
include .pre-commit-config.yaml

# Code and test files
recursive-include nbclient *.ipynb
recursive-include nbclient *.png
recursive-include nbclient *.py

# Documentation
graft docs
exclude docs/\#*
exclude .readthedocs.yml
exclude codecov.yml

# Examples
graft examples

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints

# Binder files to be excluded
exclude binder
recursive-exclude binder *.ipynb
recursive-exclude binder *.yml

# Exclude CI/CD files
prune .circleci
